Applying TSNE on scaled data as TSNE is affected by scaling

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
data = pd.read_csv('Preprocessed_Data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   21000 non-null  int64
 1   N            21000 non-null  float64
 2   P            21000 non-null  float64
 3   K            21000 non-null  float64
 4   temperature  21000 non-null  float64
 5   humidity     21000 non-null  float64
 6   ph           21000 non-null  float64
 7   rainfall     21000 non-null  float64
 8   label        21000 non-null  object
dtypes: float64(7), int64(1), object(1)
memory usage: 1.4+ MB

In [24]:
data.drop(columns=['Unnamed: 0'],inplace=True)
data.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [25]:
len(data.columns)

8

In [26]:
data.shape

(21000, 8)

In [27]:
labels = data['label']

In [28]:
data

,N,P,K,temperature,humidity,ph,rainfall,label
0,-0.551926,2.253472,2.993021,-0.413327,1.033094,-0.751825,0.002306,apple
1,-0.872147,2.073407,2.877109,-0.528838,1.041862,-1.116156,0.127685,apple
2,-0.685351,2.283483,2.954383,-0.459680,0.925644,-0.698677,0.394687,apple
3,-0.925517,2.463548,2.973702,-0.885103,0.884755,-0.838220,0.101871,apple
4,-1.272424,2.163439,2.935065,-0.747781,0.865034,-0.719601,0.090467,apple
...,...,...,...,...,...,...,...,...
20995,1.716309,-1.317819,0.037278,0.063229,0.508505,0.292177,-0.842585,pomegranate
20996,1.262662,-1.197776,0.056597,-0.266011,0.800641,0.541344,-0.811128,pomegranate
20997,1.662939,-0.897667,0.114553,-0.176401,0.822016,0.288299,-0.794671,pomegranate
20998,1.476143,-1.107743,-0.001359,0.104229,0.622705,-0.390270,-0.978804,pomegranate
20999,1.502828,-0.867656,0.114553,0.148632,0.823406,-0.311861,-0.814408,pomegranate

TSNE (2 to 3)

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.manifold import TSNE

In [30]:
for n in range(2,4):
  tsne = TSNE(n_components=n)
  name = 'Data_TSNE_N='+str(n)
  dat = tsne.fit_transform(data[data.columns[:-1]])
  dat = pd.DataFrame(dat)
  dat['label'] = labels
  dat.to_csv(name+'.csv')